<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DBDOU:GAME:count-down-digit</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
<script type="text/javascript" src="/js/game/count-down-digit/digit.js"></script>
<script type="text/javascript"
	src="/js/game/count-down-digit/countdown.js"></script>
</head>
<body>
	<div id="wrap">
		<#include "/common/top.html">
		<div id="content">
			<canvas id="canvas"></canvas>
		</div>
	</div>
</body>
</html>