<div id="sidebar">
  <ul>
	<#list authes as auth>
	  <#if auth.parentId==0>
	  <#if auth.hasChild=='0'>
	    <li><a href="${auth.menu!}"><i class="icon ${auth.style!}"></i> <span>${auth.name}</span></a></li>
	  <#else>
	    <li class="submenu">
	      <a href=""><i class="icon ${auth.style!}"></i> <span>${auth.name}</span></a>
	      <ul>
	        <#list authes as a>
	          <#if a.parentId == auth.id>
	          <li><a href="${auth.menu!}${a.menu!}"><i class="icon ${a.style!}"></i> <span>${a.name}</span></a></a></li>
	          </#if>
	        </#list>
	      </ul>
	    </li>
	  </#if>
	  </#if>
	</#list>
  </ul>
</div>